<form action="/reset/reset-email-link" method="POST">
    <label for="email">Email</label>
    <input type="email" name="email" id="" required>
    <br>
    <input type="submit" name="" value="send link" id="">
</form>