
<form action="/reset/reset-password/<%=id%>" method="POST">
    <label for="password">Password :</label>
    <input type="password" name="password" required >
    <br>
    <label for="confirmpassword">Confirm Password :</label>
    <input type="password" name="confirmpassword" required>
    <br>
    <input type="submit" name="" value="Reset Password" id="">
</form>