<form action="/user/reset-password" method="POST">
    <label for="oldpassword">Old Password</label>
    <input type="password" name="oldpassword" id="" required>
    <br>
    <label for="newpassword">New Password</label>
    <input type="password" name="newpassword" id="" required>
    <br>
    <label for="confirmpassword">Confirm Password</label>
    <input type="password" name="confirmpassword" id="" required>
    <br>
    <input type="submit" value="submit" name="" id="">
</form>