<form action="/user/create-user" method="POST">
    <label for="name">Name :</label>
    <input type="text" name="name" id="" required>
    <br>
    <label for="email">Email :</label>
    <input type="email" name="email" id="" required>
    <br>
    <label for="password">Password :</label>
    <input type="password" name="password" id="" required>
    <label for="confpassword">Confirm Password</label>
    <input type="password" name="confpassword" id="" required>
    <input type="submit" name="submit" value="submit" id="">
</form>