
<div>
<h1>Reset password link</h1>
<h3>Click on below link to reset password</h3>
<a href="https://google-authentiocation.onrender.com/reset/reset-by-mail/<%= user.id%>" target="_blank"><%=user.name%></a>
</div>